<div class='nested-fields'>
    <div class="field">
      <%= f.label :continent %>
      <%= f.text_field :continent %>
    </div>
    <div class="field">
      <%= f.label :country %>
      <%= f.country_select :country %>
    </div>
    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :business_email %>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code %>
    </div>
    
    <%= link_to_remove_association "remove addrress", f %>
  </div>