<h1>New Business</h1>
  <%= form_with(model: business) do |form| %>
    <% if business.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

        <ul>
          <% business.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :business_name %>
      <%= form.text_field :business_name %>
    </div>

    <div class="field">
      <%= form.label :business_email %>
      <%= form.email_field :business_email ,autocomplete: "email" %>
    </div>
    
    <div class="field">
      <%= form.label :number_of_employee %>
      <%= form.number_field :number_of_employee %>
    </div>

    <div class="field">
      <%= form.label :description %> 
      <%= form.text_area :description ,size: "30x10"  %>
    </div>

      <%#= form.select :category[],options_for_select(@categories.sort),{:include_blank => true,:multiple => true, :size =>10}  %>

      <div class="field">
       <%= form.label :category_ids, "Categories" %> <br>
       <%= form.collection_check_boxes  :category_ids, Category.all, :id, :name, multiple: true ,class:"__check" %>
       </div>
    <div class="field">
      <%= form.label :accepts_partnership %>
      <%= form.check_box :accepts_partnership %>
    </div>

      <div class="logo">
        <%= form.label :logo %>
         <%= form.file_field :logo %>
      </div>

      <div class="logo">
        <%= form.label :cover_photo %>
         <%= form.file_field :cover_photo %>
      </div>
    
          <h3>Address</h3>
          <div id='tasks'>
            <%= form.fields_for :addresses do |add| %>
              <%= render 'address_fields', :f => add %>
            <% end %>
            <div class='links'>
              <%= link_to_add_association 'Add Address', form, :addresses%>
            </div>
          </div>
    <div class="field_submit">
      <%= form.submit  class: "btn-success"%>
    </div>
  <% end %>

