<section class="business_search_area">
  <div class="search">
    <h1 class="main_heading">BDB Database</h1>
    <%= search_form_for @q do |f| %>
        <div class="text_field">
          <div class=""> 
            <h3 class="label_text"> Search Business</h3>
          <%= f.search_field :business_name_cont, placeholder: "Search company"%></div>
          <div class="">
           <h3 class="label_text"> Search by category</h3>
          <%= f.collection_select :categories_id_eq, Category.order("name"), :id, :name, include_blank: "All" %></div>

          <div class=""> 
           <h3 class="label_text"> Search by country</h3>
          <%=f.select :addresses_country_cont, Address.all.pluck(:country).uniq.sort ,include_blank: "All"%></div>
        </div>
        <div class="boolean_field center">
          <!--label class="contain">Verified
            <%#= f.check_box :verified_true %>
            <span class="checkmark"></span>
          </label>
          <label class="contain">Partnership
              <%#= f.check_box :accepts_partnership_true %>
            <span class="checkmark"></span>
          </label-->
        </div>
        <div class="search_botton center">
        <%=f.submit "Search Business", name: "commit",class:"btn btn-dark"%>
        </div>
      
    <% end %>
  </div>
</section> 


<section class="business_index">

  <div class="sponsor_1800 no_mobile">
      <div class="sponsor_head">
          <h1>AD</h1>
      </div>
     <%=image_tag('https://gbbdb.s3.amazonaws.com/ad.png')%>
  </div>

  <div class="container index_page_wrapper">

      <div class="__letf_top">
          <div class="__letf_top_title">
              <i class="fas fa-chart-line fa-2x"></i> <span> <%#= link_to 'Send Notification', index_path, remote: true %></span>
          </div>
          <div class="business_index_left">
               <%=render 'businesses/business'%>
          </div>
          <div class="pagy">
              <%== pagy_nav(@pagy) %>
          </div>
      </div>

      <div class="__letf_right"> 

        <div class="business_index_right">
          <div class="new_header">
            <div class="__new">
              <h4>Lastest News</h4>
            </div>
            <div class="__shares">
              <h4>Accepting Partnership</h4>
            </div>
          </div>
          <div class="business_index_right__body">
            <div class="">
                  
            </div>
            
            <div class="__accept_partnership">
              <ul class= "apt">
                  <%Business.shares.limit(7).each do |biz|%>
                    <li><%= link_to biz.business_name.truncate(20), biz%> 
                      <span><i class="far fa-check-circle"></i></span>
                    </li>
                  <%end%>
                  
              <ul>
              <div class="shares_div"><%=link_to 'View All', '', class:"btn btn-success btn-xs"%></div>
            </div>

          </div>
          <!--label class="checkbox"for="myCheckboxId">
              <input class="checkbox__input" type="checkbox" name="mycheckbox"id="myCheckboxId">
              <div class="checkbox__box"></div>
              Yes, Confirm
          </label-->
        </div>
            


      </div>  
  </div>
</section>

<script>
document.addEventListener('scroll',()=>{
  const element =  document.querySelector('.sponsor_1800');
  //const scrollable = document.documentElement.scrollHeight - window.innerHeight;

  const scrolled = window.scrollY;
  if (Math.ceil(scrolled) >= 630) {
   element.style.position = 'fixed';
  } else{
    element.style.position = 'absolute';
  }
  //console.log(scrolled);
})



</script>