<section class="business_search_area">
     <div class="search">
         <%= form_tag(businesses_path,id: 'search_business_form', method: "get") do %> 
  <div class="container">
        <h1 class="title">BLACK BUSINESS DATABASE</h1>
        <div class="text_field">
            <div class=""> <%= select_tag "category", options_for_select(Category.all.pluck(:name),params[:category]),{include_blank: 'Type Of Business'} %></div>
            <div class=""> <%= select_tag "Country", options_for_select(Address.all.pluck(:country.name),params[:country]),{include_blank: 'Select a country Country'} %></div>
            <div class=""><input type="text"  name="search" value="<%= params[:search] %>" placeholder="Name of Business"></div>
            <div class=""><input type="text"  name="search" value="<%= params[:city] %>" placeholder="search city or state"></div>
        </div>
          <div class="boolean_field center">
            <label class="contain">Verified
              <%= check_box_tag :verified,true,params[:verified] %>
              <span class="checkmark"></span>
            </label>
            <label class="contain">Partnership
              <%= check_box_tag :partnership,true,params[:partnership] %>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="search_botton center">
            <button  class="btn-dark" type="submit"> Search Business</button>
          </div>
    </div>
        <% end %>
     </div>
</section> 

<section class="business_index">

  <div class="container index_page_wrapper">

      <div class="__letf_top">
          <div class="__letf_top_title">
              <i class="fas fa-chart-line fa-2x"></i> <span> </span>
          </div>
          <div class="business_index_left">
            
            <% @businesses.each do |business| %>
              <div class="business_card">
                <%if business.verified%>
                  <div class="ribbon"><span>VERIFIED</span></div>
                  <%end%>
                  <div class="business_card_body">
                    <div class="__logo">
                    <%= link_to business do %>
                      <%=image_tag(business.logo.variant(resize_to_fill: [80, 80])) if business.logo.present? %>
                    <%end%>
                    </div>
                    <div class="__content">
                      <h3><%= link_to business.business_name.truncate(20), business%> </h3>
                        <%business.categories.limit(1).each do |cat|%>
                            <h4><%= cat.name.truncate(20)%></h4>
                          <%end%>
                        
                      <%= business.about_text.truncate(20) if business.about_text.present? %>
                    </div>
                  </div>
                  <%business.addresses.limit(1).each do |address|%>
                    <%=render 'businesses/business_card/card_footer' ,add: address%>
                  <%end%>
              </div>
            <%end%>
          </div>
      </div>

      <div class="__letf_right"> 

        <div class="business_index_right">
          <div class="new_header">
            <div class="__new">
              <h4>Lastest News</h4>
            </div>
            <div class="__shares">
              <h4>Available Shares</h4>
            </div>
          </div>
          <div class="business_index_right__body">
            <div class="">
                  
            </div>
            
            <div class="">
              <ul>
                  <%Business.shares.limit(7).each do |biz|%>
                    <li><%= link_to biz.business_name.truncate(20), biz%> 
                      <span><i class="far fa-check-circle"></i></span>
                    </li>
                  <%end%>
                  <li> <%=link_to 'View All', '', class:"btn btn-default btn-xs"%></li>
              <ul>
            </div>

          </div>
        </div>
      </div>  
  </div>
</section>

