<h1>Businesses#show</h1>
<h1><%= @business.business_name%></h1>
 <p>
    <%=@business.description%>
 </p>
  
    <p>
    <h4>Cagetories</h4>
      <%@business.categories.each do |cat| %>
          <div> <%= cat.name %></div>
      <%end %>
    </p>
    <div class="button">
        <%= button_tag "Add Business to Favorites", data: {reflex: "click->Likes#like", id: @business.id} %>
    </div>
  <p>
    
        <% if @business.logo.present? %>
          
        <%=image_tag @business.logo.variant(resize_to_fit: [200, 200])%>
        <% end %>

  </p>




<h3>Address</h3>
<%@business.addresses.each do |add| %>

  <p>
    <%=add.continent%>
    <%=add.country%>
    <%=add.city%>
    <%=add.zip_code%>
    <%=add.email%>
  </p>
<%end%>

<h2>Review</h2>
<% @business.reviews.each do |review| %>
  <p>
    <strong>Review:</strong>
    <%= review.comment %>
  </p>
<% end %>

<h2>Add a review:</h2>
<%= form_with model: [ @business, @business.reviews.build ] do |form| %>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_field :comment %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
