<section class="business_show_page">
    <div class="container">
        <div class="business_show_page__content">

            <div class="_show_page__content__left">
                
                <div class="__content__left__header" style="background-image: url(<%= rails_blob_url(@business.cover_photo) if @business.cover_photo.present?%>)">
                    <div class="__left__header__logo">
                        <% if @business.logo.present? %>
                            <%=image_tag @business.logo.variant(resize_to_fill: [100, 100])%>
                        <%end %>
                    </div>
                    
                </div> <!-- __content__left__header end-->

                <div class="__content__left_business_name">
                    <div class="intro">

                        <div class="intro_name">
                             <h4><%= @business.business_name%> <%if @business.verified%><span class="small"> verified</span><%end%></h4>
                        </div>

                        <div class="cat_name">
                            <%@business.categories.each do |cat| %>

                            <span class=""> <%= cat.name %></span> 
                            <%end %>
                        </div>
                                   
                    </div>
                    <div class="no_mobile">
                        <%if @liked_business%>
                        <div class="">
                        <%=link_to  "Unfollow",business_like_path(@business, id: @liked_business.to_sgid(expires_in: 1.hour)),method: :delete, class:" btn btn-danger" %>
                        </div>
                        <%else%>
                            <div class="">
                        <%= link_to "follow",business_likes_path(@business),method: :post, class:"btn btn-info" %>
                        </div>
                        <%end%>
                    </div>
                </div>

                <%if @business.website.present?%>
                <div class="website_link">
                   <a class="btn btn-dark"href="http://<%=@business.website%>" target="_blank">Viste Website <i class="fas fa-link"></i></a>
                </div>
                <%end%>

                <div class="mobile_only mobile_only_botton">
                     <%if @liked_business%>
                    <div class="">
                       <%=link_to  "Unfollow",business_like_path(@business, id: @liked_business.to_sgid(expires_in: 1.hour)),method: :delete, class:"btn btn-danger btn-full" %>
                    </div>
                    <%else%>
                        <div class="">
                       <%= link_to "follow",business_likes_path(@business),method: :post, class:"btn btn-info btn-full" %>
                      </div>
                    <%end%>
                </div>
                   
                
            
                    <div class="tabs_container">
                
                        <div class="tabs">
                            <ul class="tabs__menu">
                                <li class="tabs__button"data-for-tab="1">Overview</li>
                                <li class="tabs__button"data-for-tab="2">Jobs</li>
                                <li class="tabs__button"data-for-tab="3">Project</li>
                                <li class="tabs__button"data-for-tab="4">Contacts</li>
                            </ul>
                            <%=render 'businesses/tabs/about'%>
                            <%=render 'businesses/tabs/jobs'%>
                            <%=render 'businesses/tabs/projects'%>
                            <%=render 'businesses/tabs/address'%>
                        </div>
                    </div>
            </div>  <!-- _show_page__content__left end-->
                
            <div class="_show_page__content__right">
                <div class="__content__right__header">
                    <div class="statictics_title"><h2>Company Statistics</h2></div>
                        <%if user_signed_in?%>
                            <%if policy(@business).edit? %>
                                <div class=""> 
                                    <h3>
                                        <%=link_to business_business_wizard_index_path(@business) ,{class:"badge_success"} do %>
                                            <i class="far fa-edit"> Edit</i>
                                        <%end%>
                                    </h3>
                                </div>
                            <%end%>
                        <%end%>
                </div>
                <div class="__content__right__header"> <%= line_chart @user.group_by_day(:created_at).count %></div>

                 <div class="__content__right__header"> 
                    <div><h3>Locations</h3></div>
                    <%#=@address_country%>
                 </div>

                 <div class="__content__right__header"> 
                    <div id="regions_div"></div>
                 </div>
            </div>  <!-- _show_page__content__right end-->
        
        </div>
    </div>
</section>

<script>
  function setup(){
    document.querySelectorAll('.tabs__button').forEach(button =>{
        button.addEventListener('click', ()=>{
            const menu = button.parentElement;
            const tabContainer = menu.parentElement;
            const tabNumber = button.dataset.forTab;
            const tabToActivate = tabContainer.querySelector(`.tabs__content[data-tab="${tabNumber}"]`);
            
            menu.querySelectorAll(".tabs__button").forEach(button =>{
                button.classList.remove("active");
            })
            tabContainer.querySelectorAll(".tabs__content").forEach(tab =>{
                tab.classList.remove("active_tab");
            })
            button.classList.add("active");
            tabToActivate.classList.add("active_tab");
            // console.log(menu);
            // console.log(tabContainer);
            // console.log(tabNumber);
            // console.log(tabToActivate);
        })
    })
}

google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': '<%= Rails.application.credentials.google[:key] %>'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
          
        var data = google.visualization.arrayToDataTable([
          ['Country'],
          ['<%=@address_count %>'],
          
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
document.addEventListener("turbolinks:load", () =>{
    setup()
    document.querySelectorAll(".tabs").forEach(tabContainer =>{
        tabContainer.querySelector(".tabs__menu .tabs__button").click();
    })
});
</script>