<section class="business_step_basic">
        <div class="container">
          <div class="business_step_basic_wrapper mg_top">
            <%=render 'shared/progress_bar'%>
                    <h1>Basic Information</h1>
                  <div class="business_step_form"> <br />
                 
                    <%= form_for @business, url: business_business_wizard_path, method: :put do |form|%>
                            <% if @business.errors.any? %>
                              <div class='alert alert-danger'>There was a problem. Verify the information and try again</div>
                            <% end %>
                      <div class="field">
                        <%= form.label :business_name %>
                        <%= form.text_field :business_name %>
                         <%= form.errors :business_name %>
                      </div>

                      <div class="field">
                        <%= form.label :about_text, "Brief Introduction"%>
                        <%= form.text_field :about_text %>
                        <%= form.errors :about_text %>
                      </div>

                      <div class="field">
                        <%= form.label :business_email %>
                        <%= form.email_field :business_email ,autocomplete: "email" %>
                        <%= form.errors :business_email %>
                      </div>
    
                      <div class="field">
                        <%= form.label :description %> 
                       <%= form.rich_text_area :description %>
                       <%= form.errors :description %>
                      </div>
                        
                      <div class="fields_margin">
                         <%= form.label :categories, "Select Category" %> 
                         <ul class="my_list">  
                            <%=form.collection_check_boxes  :category_ids, Category.all, :id, :name, multiple: true  do |b| %>
                           <li><%= b.label %>
                              <%= b.check_box %>
                            </li> 
                           <%end%>
                        </ul>
                        <%= form.errors :categories %>
                      </div>
                    
                    <div class="field_update">
                        <%=form.submit "Continue", class: " btn-success"%>
                    </div>
                    <%end%>
                  </div>

                      <div class="__control_bottoms">
                          <div class="__first_bottom">
                              <%#= link_to previous_wizard_path  do %> 
                                <!--div class="__skip">
                                    <div class="span_icon"> <i class="fas fa-arrow-circle-left fa-2x"></i></div>
                                    <div class="span_label">PREVIOUS STEP</div>
                                </div-->
                            
                              <%#%> 
                          </div>
                          
                          <div class="__first_bottom"> 
                            <%= link_to next_wizard_path  do %> 
                              <div class="__skip">
                                  <div class="span_label">SKIP STEP</div>
                                  <div class="span_icon"> <i class="fas fa-arrow-circle-right fa-2x"></i></div>
                              </div>
                            <%end%> 
                          </div>
                      </div>
                    
           </div>
        </div>
</section>