<section class="business_step_category">
  <div class="container">
      <div class="business_step_category_wrapper mg_top">
          <%=render 'shared/progress_bar'%>
            <h1>Select Business Category</h1>
              <div class="business_step_form"><br />
                    <%= form_for @business, url: business_business_wizard_path, method: :put do |form|%>
                      <div class="field_small_container">
                      <% if @business.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

                          <ul>
                            <% @business.errors.each do |error| %>
                              <li><%= error.full_message %></li>
                            <% end %>
                          </ul>
                        </div>
                      <% end %>
                         <ul class="my_list">  
                            <%=form.collection_check_boxes  :category_ids, Category.all, :id, :name, multiple: true  do |b| %>
                           <li><%= b.label %>
                              <%= b.check_box %>
                            </li> 
                           <%end%>
                        </ul>
                      </div>

                      <div class="field_update">
                         <%=form.submit "Continue", class: " btn-success"%>
                      </div>
                     <%end%>
              </div>
                <div class="__control_bottoms">
                 <div class="__first_bottom">
                   <%= link_to previous_wizard_path  do %> 
                      <div class="__skip">
                          <div class="span_icon"> <i class="fas fa-arrow-circle-left fa-2x"></i></div>
                          <div class="span_label">PREVIOUS STEP</div>
                      </div>
                   <%end%> 
                </div>
                  
                <div class="__first_bottom"> 
                  <%= link_to next_wizard_path  do %> 
                      <div class="__skip">
                          <div class="span_label">SKIP STEP</div>
                          <div class="span_icon"> <i class="fas fa-arrow-circle-right fa-2x"></i></div>
                      </div>
                   
                  <%end%> 
                </div>
             </div>
         
      </div>
  </div>
</section>