<section class="business_step_basic">
  <div class="container">
    <div class="business_step_basic_wrapper mg_top">
      <%=render 'shared/progress_bar'%>
              <h1>Company Information</h1>
            <div class="business_step_form"> <br />
           
              <%= form_for @business, url: business_business_wizard_path, method: :put do |form|%>

                <div class="field">
                  <%= form.label :ceo, "Name of Ceo" %>
                  <%= form.text_field :ceo %>
                </div>

                <div class="field">
                  <%= form.label :founded, "Founded Date" %>
                  <%= form.date_field :founded %>
                </div>

                <div class="field">
                  <%= form.label :website %> 
                  <%= form.text_field :website %>
                </div>

                  <div class="field">
                      <%= form.label :number_of_employee , "Number of Employees" %>
                      <%= form.select :number_of_employee ,["1 - 10","10 -50","50 - 100", "100 - 500","500 +"]%>
                  </div>

                <div class="field bagde_danger">
                  <%= form.label :accepts_partnership, "Do Your Comapny Accetps Partnership?" %>
                  <%= form.check_box :accepts_partnership %>
                </div>
              
              <div class="field_update">
                  <%=form.submit class: "btn-success"%>
              </div>
              <%end%>
            </div>

                <div class="__control_bottoms">
                    <div class="__first_bottom">
                        <%= link_to previous_wizard_path  do %> 
                          <div class="__skip">
                              <div class="span_icon"> <i class="fas fa-arrow-circle-left fa-2x"></i></div>
                              <div class="span_label">PREVIOUS STEP</div>
                          </div>
                      
                        <%end%> 
                    </div>
                    
                    <div class="__first_bottom"> 
                      <%= link_to next_wizard_path  do %> 
                        <div class="__skip">
                            <div class="span_label">SKIP STEP</div>
                            <div class="span_icon"> <i class="fas fa-arrow-circle-right fa-2x"></i></div>
                        </div>
                      <%end%> 
                    </div>
                </div>
              
     </div>
  </div>
</section>