<section class="business_step_category">
  <div class="container">
       <div class="business_step_media_wrapper mg_top">
          <%=render 'shared/progress_bar'%>
            <h1>Select Logo</h1>
              <div class="business_step_form">
                <br />
                <%= form_for @business, url: business_business_wizard_path, method: :put do |form|%>
                    <% if @business.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

                          <ul>
                            <% @business.errors.each do |error| %>
                              <li><%= error.full_message %></li>
                            <% end %>
                          </ul>
                        </div>
                      <% end %>
                    <div class="__media_wrapper">
                     <div class="logo">
                       <h3><%= form.label :logo, "Upload Your Logo" %></h3>
                        <%= form.file_field :logo %>
                      </div>

                      <div class="">
                        
                      </div>
                    </div>
                    <div class="field_update">
                      <%=form.submit class: "btn-success"%>
                  </div>
                <%end%>
              </div>
              <div class="__control_bottoms">
                 <div class="__first_bottom">
                   <%= link_to previous_wizard_path  do %> 
                      <div class="__skip">
                          <div class="span_icon"> <i class="fas fa-arrow-circle-left fa-2x"></i></div>
                          <div class="span_label">PREVIOUS STEP</div>
                      </div>
                   
                  <%end%> 
                </div>
                  
                <div class="__first_bottom"> 
                  <%= link_to next_wizard_path  do %> 
                      <div class="__skip">
                          <div class="span_label">SKIP STEP</div>
                          <div class="span_icon"> <i class="fas fa-arrow-circle-right fa-2x"></i></div>
                      </div>
                   
                  <%end%> 
                </div>
             </div>
                
      </div>
  </div>
</section>