<section class="nav">
  <div class="container">
    <div class="navbar">
      <div class="site_logo">
        <%= link_to root_path do%>
          <%= render 'shared/logo'%>
        <%end%>
      </div>
      <div class="menu">
          <ul class="nav_links">
            <% if user_signed_in? %>
                <li class="nav_items no_mobile"> <a href="/"> Home</a> </li>
                <%if current_user.has_role?(:superAdmin) || current_user.has_role?(:admin) || current_user.has_role?(:editor)%>
                <li class="nav_items no_mobile"> <%=link_to 'Dashboard', admin_policies_path%> </li>
                <%end%>
                <li><%= link_to 'Add a Business',new_business_path,class:"nav_items"%> </li>
                <li class="nav_items"> 
                <a class="click "onclick="menuToggle();"><i class="far fa-user-circle fa-2x" aria-hidden="true"></i></a>
                
                <%# dropdown %>
                  <div class="dropnav">
                        <h2><%=current_user.last_name%> <br>
                        <span>
                            <%=current_user.businesses.first.business_name if current_user.businesses.present?%> <br>
                            <%current_user.roles.each do |role|%>
                              <%=role.name%>
                            <%end%>
                        </span>
                        </h2>
                      <ul>
                          
                           <li><li class="drop_down_items mobile_only"> <%=link_to 'Dashboard', admin_users_path%>  </li>
                           <li><%= link_to 'User Profile',user_path(current_user),class:"drop_down_items"%> </li>
                           <li><%= link_to 'Business Profile',business_profile_path(current_user),class:"drop_down_items"%> </li>
                          <li><%= link_to 'Settings', edit_user_registration_path,class:"drop_down_items"%> </li>
                          <li><a href="" class="drop_down_items">Help</a></li>
                          <li><%= link_to 'Logout', destroy_user_session_path,method: :delete,class:" drop_down_items"%></li>
                      </ul>
                  </div>
                
                </li>
                
              <% else %>
              <li class="nav_items mobile_only">
              <a class=" mobile_click "onclick="mobileToggle();"><i class="fas fa-bars fa-2x"></i></a>
                <div class="mobile_menu">
                  <ul>
                    <li><%= link_to 'Login', new_user_session_path,class:"drop_down_items"%> </li>
                    <li><%= link_to 'Sign Up', new_user_registration_path,class:"drop_down_items"%></li> 
                    </ul>
                </div>
              </li>
              <%= link_to 'Login', new_user_session_path,class:"nav_items no_mobile"%>
              <%= link_to 'Register A Business', new_user_registration_path,class:"nav_items no_mobile"%>
              
            <% end %>
          <span class="only_mobile"><a href="" class=" "></a></span>
          </ul>
      </div>
    </div>
  </div>
</section>

