<div class="container"> 
  
  <div class="headz">
    <h1>Search For Your Answers</h1>
  </div>

  <div class="help_wrapper">

    <%=link_to  general_path do %>
      <div class="general_help">
        <div class="iconz">
          <i class="fas fa-ambulance fa-6x"></i><br>
          General Help
        </div>
      </div>
    <%end%>
    
    <%=link_to  assistance_path do %>
      <div class="account_assistance">
        <div class="iconz">
          <i class="fas fa-user-circle fa-6x"></i><br>
          Account Assistance
        </div>
      </div>
    <%end%>
    
    <%=link_to  bill_path do %>
      <div class="billing_support">
        <div class="iconz">
          <i class="fas fa-file-invoice-dollar fa-6x"></i><br>
          Billing Support
        </div>
      </div>
    <%end%>

  </div>

  <div class="help_wrapper2">
    
    <%=link_to  deals_path do %>
      <div class="business_deals_&_features">
        <div class="iconz">
          <i class="fas fa-file-contract fa-6x"></i><br>
          Business Deals & Features
        </div>
      </div>
    <%end%>

    <%=link_to  devices_path do %>
      <div class="Devices_&_techincal_support">
        <div class="iconz">
          <i class="fas fa-wrench fa-6x"></i><br>
          Devices & Technical Support
        </div>
      </div>
    <%end%>

    <%=link_to  events_path do %>
      <div class="access_&_events">
        <div class="iconz">
          <i class="far fa-calendar-alt fa-6x"></i><br>
          Access & Events
        </div>
      </div>
    <%end%>

  </div>

</div>