<div class="container">
<%= form_for @contact do |f| %>
    <% if flash[:error].present? %>
        <p> flash[:error]</p>
    <% end %>
    <%= f.label :name %> <br>
    <%= f.text_field :name, required: true %>

    <br>
    <%= f.label :email %> <br>
    <%= f.text_field :email, required: true %>

    <br>
    <%= f.label :subject %> <br>
    <%= f.text_field :subject %>

    <br>
    <%= f.label :message %> <br>
    <%= f.text_area :message, as: :text %>

    <%= f.submit 'Send Message', class: "button" %>
  <% end %>
  </div>