<div class="tabs__content active_tab" data-tab="4">
  <h2>Addresses and Contacts</h2>
<%if @business.addresses.count < 1%>
    <%if policy(@business).create? %>
      <div class="add_address">
        <a class=" btn btn-success" href="/businesses/<%=@business.business_name.downcase%>/business_wizard/address#"> Add Address</a>
      </div> 
      <%end%>
<%else%>
    <p>
    <div class="tabs_content__address_wrapper">
      <div class="tabs_content__address">
      <%@business.addresses.each do |add| %>
        <ul class="address_call">
          <li><label> <i class="fas fa-globe"></i>  Continent:</label> <span><%=add.continent.capitalize%></span></li>
          <li><label><i class="fas fa-globe-africa"></i> Country:</label> <span><%=add.country%></span></li>
          <li><label><i class="fas fa-city"></i>  City:</label> <span><%=add.city%></span></li>
          <li><label><i class="fas fa-phone-square"></i>  Phone:</label> <span><%=add.phone%></span></li>
          <li><label><i class="far fa-envelope"></i>  Email:</label> <span><%=add.email%></span></li>
        </ul>
      <%end%>
      </div>
    </div>
  </p>
<%end%>
</div>

