<section class="login_page">
<div class="container">
  <div class="login_page__wrapper">
    <div class="login_page__wrapper_ads no_mobile">
        <div class="advert">
          <div class="advert_header">
              <%#= render 'shared/logo'%>
          </div>
          <div class="advert_body">
                <h2>New Flash</h2>
              <p>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt reprehenderit praesentium consectetur dolore corporis autem? Perspiciatis iure eaque sequi error, natus quam amet obcaecati. Vero voluptatem suscipit dolore odit deserunt. <br /> 
                 Totam, est nobis labore a error perferendis consequatur obcaecati modi sit omnis quibusdam vero necessitatibus ratione. Ea perspiciatis architecto sapiente impedit asperiores amet minima repudiandae qui iure, suscipit numquam reiciendis.
              </p> 
                <p>
                 <h4><%= link_to 'Read More..',''%></h4>
                </p>
          </div>
          
        </div>
    </div>
     <div class="login_page__wrapper_form">
            <div class="small_title caps">
                <h2>Log In</h2>
            </div>
         <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <h3><%= f.label :email %></h3>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <h3><%= f.label :password %></h3>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in" ,class:"btn-info btn-full" %>
          </div>

        <% end %>
         <div class="devise_custom_links">
        <div class="">
            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
              <%= link_to "Forgot Your Password?",new_password_path(resource_name) %><br />
            <% end %>
        </div>
        <div class="">
            <%= link_to 'Create A New Account', new_user_registration_path%>
        </div>
        <div class="">
            <%= link_to 'Help Center', help_path%>
        </div>
      </div>
           
     </div>
  </div>
</div>   

</section>
