
<h1><%=@privacy.title%></h1> 
<p>Last updated <%=@privacy.updated_at%></p>

    <p><%=@privacy.body%></p>
    <%=form_with model: @user, url:wizard_path, method: :put do |f|%>
<%= f.submit "Accepts Terms and Contitions"%>
<%end%>

