<!DOCTYPE html>
<html>
  <head>
    <title>Bbdatabase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="nav">
    <% if user_signed_in? %>
      <%=link_to 'logout', destroy_user_session_path ,method: :delete%>
      <%= current_user.first_name%>
      <%else %>
       <%=link_to 'Login', new_user_session_path %>
      <% end %>
  </div>
  <div class="flash_notice">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
     

    <%= yield %>
  </body>
</html>
