<!DOCTYPE html>
<html>
  <head>
    <title>Bbdatabase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/1ef2703627.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  </head>

  <body>
    <div class="body_wrapper">
      <section class="header">
        <%= render 'shared/nav'%>
      </section>

      <section class="main">
        <div class="container">
          <div class="flash_notice">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          </div>
        </div>
            <%= yield %>
        
      </section>

      <section class="footer">
          <div class="container">
            <div class="copy_right">
            Copyright Black Business Database <%= Date.today.year %> <%= link_to "Help", help_path %>
            </div>

            
          </div>
      </section>
    </div>
     <script>
     function menuToggle() {
       const toggleMenu = document.querySelector('.dropnav');
       toggleMenu.classList.toggle('active')
     }

     function mobileToggle() {
       const toggleMenu = document.querySelector('.mobile_menu');
       toggleMenu.classList.toggle('active')
     }

  </script>
  </body>
</html>
